


.StandardFlatStyle  { 
  border: 1px solid rgb(51, 51, 51);
  box-shadow: rgb(51, 51, 51) 2px 2px 0 0;
  border-radius: var(--border-radius);
}



.doubleBorderRound{ 

      border: 2px solid var(--text-color);
  width: auto; /* Let it adapt based on content */
  // max-width: 100%; /* Allow full width, but cap at 100% of the screen */
  box-sizing: border-box; /* Ensure padding does not affect the overall width */
  box-shadow: 0 0 0 2px var(--bg);
  background-color: var(--bg);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}