
.button {
  cursor: pointer;
  border: none;
  font: inherit;
  background: none;
  text-align: center;

  display: flex;              
  align-items: center;      
  justify-content: center;   
  padding: 0;                
  position: relative;        
  box-sizing: border-box;     

}

.fillContainer {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box;
}

.expandWrapper {
  width: 100%;
  height: 100%;
  display: flex;       
  align-items: center;
  justify-content: center;
  gap: 8px;                 
  box-sizing: border-box;
}




.default {
padding: 8px 12px;
display: flex;
align-items: center;
justify-content: center;
}

.iconLabel {

height:100%;
padding: 8px 12px;
display: flex;
align-items: center;
width: 100%;
}

.text {
padding: 8px 12px;
}

.large {
padding: 20px;
display: flex;
align-items: center;
letter-spacing: 5px;
// font-weight: ;
justify-content: center;

text-transform: uppercase;


}

.titled {
  position: relative;
  // background-color: orange;
  padding: 8px 12px;
  box-sizing: border-box;

  display: flex;
flex-direction: column;
  min-height: 3rem;
  align-items: center;     // vertical center the label
  justify-content: center; // horizontal center the label
}

.headertitle {
  top: 4px;
  left: 4px;
  font-size: 0.5rem;
  font-weight: 100;
  pointer-events: none;
}

.label {
  // background-color: red;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1;
}


.compact {
// background-color: orange;
  background-color: rgb(135, 114, 76);
  padding: 8px 12px;
}

.article {

  padding: 8px 12px;
}

.label {

  font-weight: 600;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

}

.headertitle {
  font-weight: 700;
  font-size: 0.9rem;
}

.externalCornerIcon {

  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 0.5rem;
  pointer-events: none;
  z-index: 5;

  svg {
    font-size: inherit;
    color: var(--icon-color, var(--text-color));
  }
}
